
<form class="mt-4 mb-4" *ngIf="!notEditable" [formGroup]="editForm" 
(ngSubmit)="onSaveBtnClicked()">

    <div class="row ">   
        <div class="btn-group ml-3 mb-3" role="group" aria-label="Button group">
            <button class="btn btn-success mr-2" type="submit" *ngIf="editForm.valid"
            >Save</button>
            <button class="btn btn-danger" type="submit" [routerLink]="['/recipe']" 
            >Cancel</button>
        </div>
       
        
        <div class="col-12">
            
        <label for="name">Recipe Name</label>
        <input class="form-control" type="text" name="name"  formControlName="name">
        </div>

        <div class="col-12">
            <label for="my-textarea" >Recipe Description</label>
            <textarea id="my-textarea" class="form-control" name="text" rows="3" 
            formControlName="description"></textarea>
        </div>
        
        <div class="col-12">
            <div class="">
                <label for="image" >Image Url</label>
                <input class="col-12" #imagePath  class="form-control" type="text"  name="image"   formControlName="imageUrl">
                <img [src]="imagePath.value" alt="avatar" style="width: 400px; height: 200px; margin-top: 10px;">
            </div>          
        </div>
        
        <div  class="col-12 mt-2">
        <button class="btn btn-primary" type="button" 
        (click)="onAddIngredientClicked()">Add Ingredient</button>
        </div>

        <div formArrayName="ingredients" class="mt-4">
            <div>
                <label class="label col-8">Ingredient</label>  
                <label class="col-3 text-center">Amount</label>
            </div>
         
           
            <div *ngFor="let item of getControls(); let i =index" 
            [formGroupName]="i">
               
            <div class="mt-1" >
                  <input  class="col-8" style="margin-left: 14px; margin-right: 10px;" 
                  type="text" formControlName="name">
                
                  <input  class="col-2 mr-3"  type="number" min="1" formControlName="amount">
                  <button class="col-1 btn btn-sm btn-danger" 
                  type="button" (click)="deleteIngredient(i)">X</button>
            </div>
            </div>
        </div>
    </div>  
</form>