<ng-template #notSelected>
    <h4 class="text-center  mt-4 selectItem">Please Select a Recipe</h4>
</ng-template>

<div *ngIf="userSelectedRecipe; else notSelected" class="mt-4 row mb-4" >


    <div class="col-12">
        <img [src]="recipeReceived.image" alt="image name" style="height: 300px; width: 85%;" class="float-right">

    </div>

    <div class="mt-2" style="margin-left: 90px;">
        <h1 class="">{{recipeReceived.name}}</h1>


        <div class="dropdown mt-4" >
            <button  class="btn btn-primary dropdown-toggle" type="button" 
            (click)="onDropdownClicked()"
            id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manage Recipe
            </button>
            <div  class="dropdown-menu" [ngClass]='addShowClass' aria-labelledby="navbarDropdown" id="headerDropdown"
               >
                <a class="dropdown-item" [routerLink]="['edit']" 
                (click)="onRecipeItemClicked()">Edit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Delete</a>
            </div>
        </div> 

     
        <div class="">
            {{recipeReceived.content}}
            <a class="btn btn-link" href="">Read More</a>
        </div>
        <hr>
        <div class="list-group ">
            <h5 class="text-info">List of Ingredients</h5>

            <div><label class="col-9"  for="ingredient">Ingredient</label> 
                <label class="col-3" for="amount">Amount</label> </div>
            
          <div *ngFor="let item of recipeReceived['ingredient']">
             <input type="text"  readonly  name="ingredientItems"
               class="col-9" [value]="item.name">
             <input type="text"  readonly  name="inigredientAmount"
             class="col-3 text-center" [value]="item.amount" style="font-weight:bold">
              
            </div>
        </div>

    </div>

</div>


